<div class="content">
    <div class="">
        <div class="page-header-title">
        </div>
    </div>
    <div class="page-content-wrapper ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="m-t-0 m-b-0">Purchase Order # {{results.0.po}}</h4>
                            <div class="row">
                                <form class="" name="frmEditOrder" id="frmEditOrder" method="POST" action="/orders/edit/{{order_id}}" novalidate="">
                                    <input type="hidden" name="completed" value="1">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="m-t-20">
                                            <div class="form-group">
                                                <label>Part Number</label>
                                                <div>
                                                    <input type="hidden" id="po" value="{{results.0.po}}">
                                                    <input type="hidden" id="row_id" value="{{order_id}}">
                                                    <input type="hidden" name="curr_status" value="{{results.0.status}}">
                                                    <input type="text" id="pn" name="pn" class="form-control pn" required="required" data-parsley-required-message="Please enter part number of the product"
                                                        placeholder="Please enter part number of the product" value="{{results.0.pn}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Managers</label>
                                                <div>
                                                    <select class="form-control managers" id="managers" name="managers" required="required">
                                                        {{#each locations}}
                                                            <option value="{{this.person}}" {{#if_eq this.person ../results.0.manager}}selected="selected"{{/if_eq}}>{{this.person}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Order Date</label>
                                                <div>
                                                    <input type="text" id="order_date" name="order_date" class="form-control datepicker" required="required" data-parsley-required-message="Please enter order date" placeholder="Please enter order date" value="{{dateFormat results.0.ordered "MM-DD-YYYY"}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Date Shipped</label>
                                                <div>
                                                    <input type="text" id="ship_date" name="ship_date" class="form-control datepicker" required="required" data-parsley-required-message="Please enter ship date" placeholder="Please enter ship date" {{#if (ne results.0.shipped null)}} value="{{dateFormat results.0.shipped "MM-DD-YYYY"}}" {{/if}}>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Comment</label>
                                                <div>
                                                    <textarea id="comment" name="comment" class="form-control" data-parsley-required-message="Please enter Comment" placeholder="Please enter Comment">{{results.0.comment}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="m-t-20">
                                            <div class="form-group">
                                                <label>Location</label>
                                                <div>
                                                    <!-- <input type="text" readonly="readonly" name="location" class="form-control location" value="{{results.0.street}} {{results.0.city}} {{results.0.sum}}"> -->
                                                    <select class="form-control location" id="location" name="location" required="required">
                                                        {{#each locations}}
                                                            <option value="{{this.sum}}" {{#if_eq this.sum ../results.0.location}}selected="selected"{{/if_eq}}>{{this.street}}, {{this.city}}, {{this.sum}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Quantity</label>
                                                <div>
                                                    <input type="text" id="qty" name="qty" class="form-control" minlength="1" maxlength="10" required="required" data-parsley-required-message="Please enter quantity"   data-parsley-type="number" data-parsley-type-message="Must be number" data-parsley-minlength="1" data-parsley-maxlength="10" placeholder="Please enter quantity" value="{{results.0.qty}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Due Date</label>
                                                <div>
                                                    <input type="text" id="due_date" name="due_date" class="form-control datepicker" required="required" data-parsley-required-message="Please enter due date"  placeholder="Please enter due date" value="{{dateFormat results.0.due "MM-DD-YYYY"}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Freight Bill #</label>
                                                <div>
                                                    <input type="text" id="f_bill" name="f_bill" value ="{{results.0.freight_bill}}" class="form-control" data-parsley-required-message="Please enter Freight Bill" placeholder="Please enter Freight Bill">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div>
                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-primary waves-effect waves-light"> Update </button>
                                                    {{#if_eq results.0.status '2'}}
                                                    <button type="button" id="order_completed" data-ship-status="{{results.0.status}}" class="btn btn-primary waves-effect waves-light"> Complete </button>
                                                    {{/if_eq}}
                                                    {{#if_eq results.0.status '3'}}
                                                    <button type="button" id="order_completed" data-ship-status="{{results.0.status}}" class="btn btn-primary waves-effect waves-light"> Complete </button>
                                                    {{/if_eq}}
                                                    <a title="Delete" href="javascript:void(0);"><button type="button" class="btn btn-primary waves-effect waves-light delete" data-row_id="{{order_id}}" data-status="{{results.0.status}}"> Delete </button></a>
                                                    <a title="Packing List" class="packing" data-po="{{results.0.po}}" href="javascript:void(0)"><button type="button" class="btn btn-primary waves-effect waves-light"> Packing List </button></a>
                                                    <a title="Invoice" class="invoice" data-po="{{results.0.po}}" href="javascript:void(0)"><button type="button" class="btn btn-primary waves-effect waves-light"> Invoice </button></a>
                                                    <a title="Delivery Confirmation" class="delivery" data-po="{{results.0.po}}" href="javascript:void(0)"><button type="button" class="btn btn-primary waves-effect waves-light"> Delivery Confirmation </button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>