<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Packing List</h4>
        </div>
    </div>
    <div class="page-content-wrapper ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="invoice-title">
                                    <h4 class="pull-right">Order # {{order_id}}</h4> </div>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <address>
                                            <br> Thomas
                                            <br> Alva 
                                            <br> Edison
                                            <br> kol</address>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    
                                    <div class="col-xs-6">
                                        <address> <strong>Order Date:</strong>
                                            <br> {{dateFormat order_date "MM-DD-YYYY"}}
                                            <br>
                                            <br> </address>
                                    </div>
                                    <div class="col-xs-6 text-left ship_address">
                                        <address>
                                            <br> {{name}}
                                            <br> {{person_name}}
                                            <br> {{street}}
                                            <br> {{city}}
                                             <br> {{phone}}
                                              <br> {{fax}}</address>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <hr>
                                     <div class="row">
                                    
                                    <div class="col-xs-6">
                                        <address>Number of components on P.O
                                            <br> Ship date: 
                                            <br> Freight Bill #
                                            <br> P.O. #
                                            
                                        </address>
                                    </div>
                                    <div class="col-xs-6 text-left">
                                        <address> {{number_of_components}}
                                           <br> {{dateFormat bill_date "MM-DD-YYYY"}}
                                            <br> 123
                                            <br>{{order_id}}
                                        </address>
                                    </div>
                                </div>
                                   
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                       
                                                        <td class="text-center"><strong>Quantity</strong></td>
                                                        <td class="text-right"><strong>Component</strong></td>
                                                        <td class="text-right"><strong>Price</strong></td>
                                                        <td class="text-right"><strong>Sub-Total</strong></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each orders}}
                                                    <tr>
                                                        <td class="text-center">{{this.qty}}</td>
                                                        <td class="text-right">{{this.description}}</td>
                                                        <td class="text-right">${{this.price}}</td>
                                                        <td class="text-right">${{total_price this.price this.qty}}</td>
                                                    </tr>
                                                    {{/each}}
                                                    <tr>
                                                        <td class="no-line"></td>
                                                        <td class="no-line"></td>
                                                        <td class="no-line text-center"> <strong>Total</strong></td>
                                                        <td class="no-line text-right">
                                                            <h4 class="m-0">${{sub_total}}</h4></td>
                                                    </tr>
                                                    {{#if float}}
                                                    <tr>
                                                        <td class="no-line"></td>
                                                        <td class="no-line"></td>
                                                        <td class="no-line text-center"> <strong>Shipping</strong></td>
                                                        <td class="no-line text-right">8.5%</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="no-line"></td>
                                                        <td class="no-line"></td>
                                                        <td class="no-line text-center"> <strong>Total</strong></td>
                                                        <td class="no-line text-right">
                                                            <h4 class="m-0">${{total_taxed_value}}</h4></td>
                                                    </tr>
                                                    {{/if}}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="hidden-print">
                                            <div class="pull-right"> <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light"><i class="fa fa-print"></i></a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>