<div class="content">
    <div class="">
        <div class="page-header-title">
        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="m-t-0 m-b-0">Purchase Order # {{results.0.po}}</h4>
                            <div class="row">
                                <form class="" name="frmWarrantyEdit" id="frmWarrantyEdit" method="POST" action="/warranties/edit/{{warr_id}}" novalidate="">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="m-t-20">
                                            <div class="form-group">
                                                <label>Part Number</label>
                                                <div>
                                                    <input type="hidden" id="po" value="{{results.0.po}}">
                                                    <input type="hidden" id="row_id" value="{{warr_id}}">
                                                    <input type="hidden" name="curr_status" value="{{results.0.status}}">
                                                    <input type="text" id="pn" name="pn" class="form-control" required="required" data-parsley-required-message="Please enter part number of the product"
                                                    placeholder="Please enter part number of the product" value="{{results.0.pn}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Serial No#</label>
                                                <div>
                                                    <input type="text" id="serial_no" value="{{results.0.serial_no}}" name="serial_no" class="form-control" data-parsley-required-message="Please enter Serial No."
                                                    placeholder="Please enter Serial No">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Comment</label>
                                                <div>
                                                    <textarea id="comment" name="comment" class="form-control" data-parsley-required-message="Please enter Comment" placeholder="Please enter Comment">{{results.0.comment}}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Order Date</label>
                                                <div>
                                                    <input type="text" id="order_date" name="order_date" class="form-control datepicker" required="required" data-parsley-required-message="Please enter order date" placeholder="Please enter order date" value="{{dateFormat results.0.ordered "MM-DD-YYYY"}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Quantity</label>
                                                <div>
                                                    <input type="text" id="qty" name="qty" class="form-control" required="required" data-parsley-required-message="Please enter quantity"
                                                    data-parsley-type="number" data-parsley-type-message="Must be number"
                                                    data-parsley-minlength="1" data-parsley-maxlength="10" placeholder="Please enter quantity"
                                                    value="{{results.0.qty}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Date Shipped</label>
                                                <div>
                                                    <input type="text" id="shipped" name="shipped" class="form-control datepicker" required="required" placeholder="Please enter shipped date"
                                                    value="{{dateFormat results.0.shipped "MM-DD-YYYY"}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Freight Bill#</label>
                                                <div>
                                                    <input type="text" id="f_bill" value="{{results.0.freight_bill}}" name="f_bill" class="form-control" data-parsley-required-message="Please enter Freight Bill"
                                                    placeholder="Please enter Freight Bill">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="m-t-20">
                                            <div class="form-group">
                                                <label>Location</label>
                                                <div>
                                                    <input type="text" readonly="readonly" name="location" class="form-control location" value="{{results.0.street}} {{results.0.city}} {{results.0.sum}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Due Date</label>
                                                <div>
                                                    <input type="text" id="due_date" name="due_date" class="form-control datepicker" required="required" data-parsley-required-message="Please enter due date" placeholder="Please enter due date" value="{{dateFormat results.0.due "MM-DD-YYYY"}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Date Returned</label>
                                                <div>
                                                    <input type="text" id="qty" name="returned" class="form-control datepicker" required="required" placeholder="Please enter returned" value="{{dateFormat results.0.returned "MM-DD-YYYY"}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Date Reported</label>
                                                <div>
                                                    <input type="text" id="qty" name="reported" class="form-control datepicker" required="required" placeholder="Please enter reported" value="{{dateFormat results.0.reported "MM-DD-YYYY"}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Date Ready</label>
                                                <div>
                                                    <input type="text" id="ready" name="ready" class="form-control datepicker" required="required" placeholder="Please enter ready" value="{{dateFormat results.0.ready "MM-DD-YYYY"}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Status</label>
                                                <div>
                                                    <select class="form-control" name="invoice_status" id="invoice_status" required="required">
                                                        <option value="1" {{#if_eq results.0.invoice_status '1'}} selected {{/if_eq}}>Burnt</option>
                                                        <option value="2" {{#if_eq results.0.invoice_status '2'}} selected {{/if_eq}}>No Defects Found</option>
                                                        <option value="3" {{#if_eq results.0.invoice_status '3'}} selected {{/if_eq}}>Warranty Expired</option>
                                                        <option value="4" {{#if_eq results.0.invoice_status '4'}} selected {{/if_eq}}>Honored</option>
                                                        <option value="5" {{#if_eq results.0.invoice_status '5'}} selected {{/if_eq}}>Others</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Details</label>
                                                <div>
                                                    <textarea id="itemcomment" name="itemcomment" class="form-control" data-parsley-required-message="Please enter Details" placeholder="Please enter Details">{{results.0.itemcomment}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div>
                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-primary waves-effect waves-light"> Update </button>
                                                    <a title="Delete" href="/warranties/delete/{{warr_id}}/" onclick="return confirm('Do you really want to delete the current record ?');"><button type="button" class="btn btn-primary waves-effect waves-light"> Delete </button></a>
                                                    {{#if_eq results.0.status '2'}}
                                                    <button type="button" id="warranties_completed" data-ship-status="{{results.0.status}}" class="btn btn-primary waves-effect waves-light"> Complete </button>
                                                    {{/if_eq}}
                                                    {{#if_eq results.0.status '3'}}
                                                    <button type="button" id="warranties_completed" data-ship-status="{{results.0.status}}" class="btn btn-primary waves-effect waves-light"> Complete </button>
                                                    {{/if_eq}}
                                                    <a title="Packing List" id="packing_warranties" href="javascript:void(0)"><button type="button" class="btn btn-primary waves-effect waves-light"> Packing List </button></a>
                                                    <a title="Invoice" id="invoice_warranties" href="javascript:void(0)"><button type="button" class="btn btn-primary waves-effect waves-light"> Invoice </button></a>
                                                    <a title="Delivery Confirmation" id="delivery_warranties" href="javascript:void(0)"><button type="button" class="btn btn-primary waves-effect waves-light"> Delivery Confirmation </button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
